.map-2 {
  width: 49%;
  float: right;
  margin: 0;
  padding: 0;
}
.user-heading.alt.clock-row.terques-bg h4 {
    font-size: 2em;
    color: #fff;
    font-weight: 300;
}
.user-heading.alt.clock-row.terques-bg h4 {
  font-size: 1.8em;
}
.user-heading.alt.clock-row.terques-bg h4 {
  font-size: 1.5em;
}
h3.sub-tittle.clock {
   color:#fff;
}

ul#clock li {
  border: none;
}

#clock {
  position: relative;
  width: 185px;
  height: 185px;
  margin: -95px auto 0;
  background: url(../images/clockface.png) no-repeat;
  list-style: none;
}
#sec,
#min,
#hour {
  position: absolute;
  width: 15px;
  height: 185px;
  top: 0px;
  left: 83px;
}
#sec {
  background: url(../images/sechand.png);
  z-index: 3;
  overflow: hidden;
}

#min {
  background: url(../images/minhand.png);
  z-index: 2;
}

#hour {
  background: url(../images/hourhand.png);
  z-index: 1;
}

ul.clock-category li {
  list: none;
  display: inline-block;
  width: 24%;
}

ul.clock-category li a i {
  font-size: 30px;
  padding-right: 0;
}

ul.clock-category li a span {
  display: block;
  line-height: normal;
  padding: 8px 0;
  color: #555;
}

ul.clock-category {
  padding: 0;
  text-align: center;
  padding: 2em 0 2em 0em;
  margin: 0;
}

ul.clock-category li a span:hover {
  color: #00C6D7;
}
